.month-name {
  text-align: center;
}

.calendar-month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 100px;
  grid-gap: 1vw;
  width: 90vw;
  padding: 5vw;
  background-color: #ccc;
  margin: 0 auto;
}

.calendar-day {
  background-color: #fff;
}
